name: Docker Image CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.REGISTRY }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push API image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Src/Unjai.Platform.Api/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ${{ vars.REGISTRY }}/${{ vars.PROJECT }}/unjai/unjai-platform-api:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build & push MVC image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Src/Unjai.Platform.Mvc.CustomerUser/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ${{ vars.REGISTRY }}/${{ vars.PROJECT }}/unjai/unjai-platform-mvc-customeruser:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
