name: Docker Image CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build \
            -f Src/Unjai.Platform.Api/Dockerfile \
            -t harbor-registry.sleeping24hrs.com/unjai/unjai-platform-api:$(date +%s) \
            .
